@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
/* 1rem = 10px */
}

:root {
  --primary-font: "Roboto", sans-serif;
  --seondary-fonts: "Dancing script", cursive;
  --color-black: #222;
  --color-white: #fff;
}
body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
  color: var(--color-black);
}

.header {
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.header-nav-list {
  list-style: none;
}

.header-nav-list {
  display: flex;
  gap: 4rem;
}

.header-logo {
  text-transform: capitalize;
  font-size: bold;
}

.header-nav-list {
  text-transform: capitalize;
  color: var(--color-black);
}

@media  screen and (max-width) {
  .header {
    flex-direction: column;
  }
  
}

