@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
/* 1rem = 10px */
}

html, body {
  overflow-x:hidden;
}

:root {
  --primary-font: "Roboto", sans-serif;
  --seondary-fonts: "Dancing script", cursive;
  --color-black: #222;
  --color-white: #fff;
}
body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
  color: var(--color-black);
}

.header {
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 0.8rem;
}

.header-nav-list {
  list-style: none;
  list-style-type: none;
  text-transform: capitalize;
  color: var(--color-black);
}

.header-nav-list {
  display: flex;
  gap: 4rem;
}

.header-logo {
  text-transform: capitalize;
  font-size: bold;
}
.header-nav-link {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-black);
}



/* Heros sections  */

.hero {
  height: 70vh;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0, .5)), url(./assets/6.png);/* RGBA - you can control the opacity of the colo */
  background-position: center;
  background-size: cover;
  background-repeat:  no-repeat;
  align-items: center;
  display: flex;
  justify-content: center;
}

.hero-subtitle, .hero-title{
  color: var(--color-white);
}

.hero-textbox {
  align-items: center;
  display: flexbox;
  justify-content: center;
  gap: 3px;
  margin-top: 2rem;
  padding: 2rem;
}

.hero-subtitle {
  font-family: var(--seondary-fonts);
  text-transform: capitalize;
  font-size: 6rem;
  text-align: center;
}

.hero-title {
  font-size: 6rem;
  text-transform: uppercase;
  text-align: center;
}

.call-to-action {
  text-transform: capitalize;
  color: var(--color-white);
  padding: 1.5rem 2rem;
  background-color: red;
  text-decoration: none;
  border-radius: 10px;
  align-items: center;
  border: 2px solid black;
}

.btn-next {
  display: flex;
  align-items: center;
  justify-content: center;
}



/* about  */

.about-img img{
  width: 50rem;
  height: 40rem;
}

.about {
  padding: 6rem 12rem;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.title {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.title-subtitle {
  font-family: var(--primary-font);
  text-transform: capitalize;
  color: var(--color-red);
  font-size: 4rem;
  text-align: center;
}

.title-maintitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing:2px;
}

.about-text {
  text-align: center;
  letter-spacing: 1.8px;
  color: #999;
  font-size: 1.4rem;
  line-height: 1.7;
}

.call-tct {
  /* This will center an inline element */
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-black);
  margin: 0 auto;

  /* display: inline-block; */
  /* width: max-content; */
}

.about-textbox .call-tct {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.about-img {
  border-radius: 15px;
}.about-img:hover {
  transform: scale(1.02);
  transition: all 1s;
}


/* BANNER SECTIONS  */

.banner-2 {
  height: 55vh;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./assets/3.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

}
.banner-2-subtitle {
  font-family: var(--primary-font);
  color: var(--color-red);
  text-transform: capitalize;
}

.banner-2-maintitle {
  font-size: 5rem;
  text-transform: uppercase;
  color: white;
  text-align: center;
}




/* menu section */

.menu-item-title {
  margin: 1rem 0;
  text-transform: capitalize;
  font-weight: 500;
}

.menu-item-description{
  margin: 1.5rem;
  font-size: 1.4rem;
  color: #777;
  text-align: justify;
  line-height: 1.7;
}

.menu-item-cta {
  color: #888;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
}

.menu {
  padding: 6rem 2rem;
}

.menu-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 3rem;
  gap: 2rem;
}
.menu-item img {
  width: 40rem;
  height: 30rem;
}


/* FOOTER SECTION    */

.footer {
  background-color: #999;

}

.footer-text {
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
}

/* RESPONSIVENESS */

@media  screen and (max-width) {
  .header {
    flex-direction: column;
  } 
}

@media  screen and (max-width: 62.5em) {
  .about {
    padding: 6rem 8rem;
  } 
}

@media  screen and (max-width: 53.125em) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
}

@media  screen and (max-width: 31.25em) {
  .about-img img {
    width: 100%;
  } 
}
